@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
}


:root
{
    --primary: #384073;
    --secondary: #F5E78E;
    --celeste: #A3D9FF;
    --marron: #826754;
    --blanco: #FFFFFF;
    
    --text-xxl: 55px;
    --text-xl: 48px;
    --text-l: 40px;
    --text-m: 20px;
    --text-s: 18px;

    --sp-xl: 120px;
    --sp-l: 80px;
    --sp-m: 50px;
    --sp-s: 28px;
    
    
}

body
{
    background-color:var(--secondary) ;
    font-family: 'Fauna One', serif;
    color:var(--marron);
    font-size: var(--text-m);
}
header{background-color: var(--primary);}
a{text-decoration: none;}
h1{font-size: var(--text-xxl);}
h2{font-size: var(--text-xl);}
h3{font-size: var(--text-l); }
h4{font-size: var(--text-l); }
h6, h5, h4, h3, h2, h1{
    margin-bottom: 0;}
figure {margin: 0}
p{margin-bottom: 0;}
ol, ul, dl{margin-bottom:0;}
article{padding: 0px;}


/*------------------------------------------------------*/
/* Estilos comunes */


.enlaces-estilo
{
    font-size: var(--text-s);
    color: var(--blanco);
    padding: 5px 10px;
    transition:background-image .2s;
    transition:background-color .2s;
    transition:font-size .2s;
}

.barra-intermedia
{

    font-size: var(--text-s);
    color: var(--blanco);
    padding: 5px 0px;
}

.enlaces-estilo:hover
{
    font-size: 22px;
    background-image:url(../visuales/galletaSinComer.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: var(--marron);
    margin: 0px 5px;
    border-radius: 10px;
    color:#FFFFFF;  
}
.enlaces-estilo:active
{
    background-image:url(../visuales/galletaComida.png);
    color:#FFFFFF;
}

.borde-derecho
{
    border-right-width: 3px;
    border-right-style:solid;
    border-width: 2px;
    border-right-color: var(--blanco);
}

.estilos-titulos
{
    font-family: 'Cinzel';
    width: 100%;
    text-align: center;
    color:white;
    letter-spacing: 0.1em;
    margin-top: 28px;
}

.parallax
{
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
}

.titulo-estilo-sec
{
    font-size: var(--text-xxl);
    color: var(--marron);
}

.subtitulo-estilo-sec
{
    font-size: 25px;
    color: var(--marron);
}

.boton-estilo
{
    display: inline-block;
    text-align: center;
    font-family: 'Fauna One', serif;
    font-size: 17px;
    color: black;
    border:none;
    border-radius:12px ;
    background-color: #A3D9FF;
    padding: 3px 8px;
    transition: transform .04s ease-out;
    transition: background-color .04s ease-out;
}


.boton-estilo:active
{
    transform: scale(0.95);
    background-color: #73c5ff;
}

.boton-redondo
{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.indep-margin{padding: 28px;}

.paragraph-style{text-align: justify;}

/*------------------------------------------------------*/
/* Navbar */
.navbar 
{
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 14px 28px;
    align-items: center;
}

.navbar .menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    
}
.navbar .menu .menu-item
{
    display: inline-block;
}

.img-nav{width: 100%;}


/*------------------------------------------------------*/
/* Imagen con parallax al inicio */
.superphoto
{
    height: 92vh;
    overflow: hidden ;
    background-image:url(../visuales/muchasGalletas.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*------------------------------------------------------*/
/* Seccion donde se habla de la historia de la galleta*/

#historia
{
    display: flex;
    justify-content: center;
}

.box-historia
{
    display: grid;
    margin: 28px 80px;
    gap: 14px;
    max-width: 1280px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0,2fr 0,7fr 0,1fr;
    grid-template-areas: 
    "texto fotoGalleta"
    "fotoBandeja fotoGalleta"
    "textoDos textoDos";
    
}

.textoUno{grid-area: texto;}
.pos-img-uno
{

    border-radius: 0px 0px 0px 38px;
    grid-area: fotoBandeja;
    overflow: hidden;
}
.pos-img-dos
{
    grid-area: fotoGalleta;
    border-radius: 0px 38px 38px 0px;
    overflow: hidden;
}
.textoDos{grid-area:textoDos ;}

.box-width{width: 1280px;}
.img-historia-uno
{
    width: auto;
    height: 100%;
}
.img-historia-dos
{
    border-radius: 0px 38px 38px 0px;
    width: auto;
    height: 100%;
}




/*------------------------------------------------------*/
/* Segundo background con parallax */

.background-inter
{
    height: 739px;
    background-image: url(../visuales/andrew-valdivia-Way9MgCwFg8-unsplash_2.png);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 28px;
}

/*------------------------------------------------------*/
/*Estilos links de redireccionamiento, final de pagina*/

.box-present
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    overflow: hidden;
    justify-items: center;
    gap: 20px; 
}

.present-section
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-present .present-section .title-present
{
    font-size: 32px;
    color: var(--marron);
}

.box-present .present-section .img-presentacion
{
    width: auto;
    height: 278px;
    max-width: 573px;
    overflow: hidden;
    border-radius: 33px;
    
}

.img-presentacion img
{
    width: 100%;
    height: auto;
    filter: blur(3px);
    
}

.present-section .link-present
{

    color: #FFFFFF;
    background-color: #384073;
    padding: 8px 67px;
    border-radius: 20px;
    transition: transform .1s ease-out;
    transition: background-color .1s linear;
}

.present-section .link-present:active
{
    transform: scale(0.9);
    background-color: #293372;
}

/*------------------------------------------------------*/
/*Footer estilos*/

footer
{
    display: flex;
    background-color: #384073;
    color: var(--blanco);
    height: auto;
    padding: 33px 0px;
    flex-direction: column;
    align-items: center;
    font-family: 'Cinzel';
}

.copyfooter
{
    font-size: 18px;
    text-align: center;
}

/*------------------------------------------------------*/
/*Parte de pedidos*/

.vender-box
{
   display: flex;
   justify-content: center; 
}
.formulario-vender
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1440px;
}



.vender
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width:337px;
    margin:20px 20px -17px 20px;
}

.vender-precio
{
    display: inline-block;
    background-color: red;
    color:#FFFFFF;
    width: 106px;
    height: 41px;
    padding-top: 5px;
    border-radius:0px 19px 0px 21px ;
    position: relative;
    bottom: 390px;
    left: 235px;
    text-align: center;
    z-index: 1;
    
}

.box-article-photo{height: 392px;}

.vender-imagen
{
    border-radius: 22px;
    border-style: solid;
    border-width: 3px;
    border-color: #384073;
}

.venta-texto{text-align: center;}

.tabla-venta
{
    display: flex;
    flex-direction: column;
}

.boton-procesar
{
    width: 153px;
    height: 41px;
    position: relative;
    bottom: 53px;
    left: 290px;
}

.botones-vender
{
    display: flex;
    width: 339px;
    border-radius: 0px 0px 22px 22px ;
    justify-content: space-evenly;
    position: relative;
    bottom: 109.5px;
    backdrop-filter: blur(3.5px);
    padding: 5px;
}


/*------------------------------------------------------*/
/*Pagina quienes*/
.quienes-box
{
    display: grid;
    grid-template-columns: 1.5fr 0.97fr;
    grid-template-rows: 0.3fr 1fr 0fr;
    grid-template-areas: 
    "textUno imgDos"
    "imgUno imgDos"
    "imgUno textDos";
    gap:28px;
    margin: 50px 80px;
    max-width: 1440px;
}

.contenedor-quienes
{
    display: flex;
    justify-content: center;
    
}

.quienes-textoDos{grid-area: textDos;}
.quienes-textoUno{grid-area: textUno;}

.quienes-fUno
{
grid-area: imgUno;
overflow: hidden;
border-radius: 21px;
}
.quienes-fDos
{
grid-area: imgDos;
overflow: hidden;
border-radius: 21px;
}
.quienes-foto-i
{
    width: auto;
    height: 100%;
}
.quienes-foto-d
{
width: 100%;
height: auto;
}


/*------------------------------------------------------*/
/*Parte de informacion en contacto*/

.informacion
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color:var(--celeste);
    padding: 28px;
    border-radius: 20px;
    margin: 28px;
}

.cabecera-informacion{text-align: center;}

.datos{color: black;}

/*------------------------------------------------------*/
/*Parte de mandar el email en contacto*/

.box-contactar
{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: baseline;
    margin: 50px 0px;
}

.formulario-box
{
    background-color:var(--blanco);
    margin: 28px;
}

.formulario-box .formulario .cabecera
{
    background-color: var(--celeste);
    padding: 28px;
}

.formulario-box .formulario .tipo-info
{
    display: block;
    border:none;

    border-bottom: 1px solid var(--marron);
}

.ped-form
{
    padding: 28px;
    padding-top: 40px;
    padding-bottom: 28px;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-rows:repeat(5,auto) ;
    grid-row-gap: 50px;
}


.background-grey{
    background-color: #D9D9D9;
    max-width: 635px;
    height: 200px;
}
.marg-mod
{
    margin-bottom: -23px;
}
.pos-boton
{
    width: 158px;
    grid-column: 2/3;
    justify-self: end;
}

.pad-boton{padding: 18px 24px;}

.ubicacion
{
    width:359px; height:270px;
}

/*------------------------------------------------------*/
/*Articulos de receta*/
.recetas-box
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recetas-box .receta-foto{max-height: 395px; min-width: 290px;}
.recetas-box .receta-foto img{border-radius: 20px;}
.recetas-box .receta-nombre{font-size: 25px;}


/*------------------------------------------------------*/
/*media 1561px*/

@media screen and (max-width: 1561px)
{
.quienes-foto-d
{
    height: 100%;
    width: auto;
}
}

/*------------------------------------------------------*/
/*media 1310px*/

@media screen and (max-width: 1310px)
{
    .quienes-box
    {
        grid-template-rows: 0.3fr 0.5fr auto;
    }

    .formulario
{
    max-width: 90vw;
}

.quienes-foto-d{height: auto;width: 100%;}
}

/*------------------------------------------------------*/
/*media 1200px*/


@media screen and (max-width: 1200px) 
{
   /*------------------------------------------------------*/
   /*Media de seccion historia*/
   .box-historia
   {
       grid-template-rows: auto 500px auto;
       grid-template-areas: 
       "texto texto"
       "fotoBandeja fotoGalleta"
       "textoDos textoDos";
       
   }
   .pos-img-uno
   {
    border-radius: 38px 0px 0px 38px;

   }
   .img-historia-dos
   {
       border-radius: 0px 38px 38px 0px;
       width: 100%;
       height: auto;
   }

   .quienes-foto-d
{
    height: 100%;
    width: auto;
}

}

/*------------------------------------------------------*/
/*media 1024px*/
@media screen and (max-width: 1024px) 
{
    .paragraph-style{font-size: 18px;}
    .quienes-box
    {
        grid-template-rows: 0.3fr 1fr 0fr;
        grid-template-areas: 
        "textUno textUno"
        "imgUno imgDos"
        "textDos textDos";
    }

}

/*------------------------------------------------------*/
/*media 991.5px - para modificar cosas del bootstrap*/

@media screen and (max-width: 991.5px) 
{
    .bg-caja-collapse{z-index: 2;}
    .barra-intermedia{display: none;}
    .navbar-toggler{z-index: 3;}
}

/*------------------------------------------------------*/
/*media 917px*/
@media screen and (max-width: 917px)
{
    h1{font-size: var(--text-xl);}
    h2{font-size: var(--text-l);}
    h3{font-size: 31px;}
    h4{font-size: 31px;}
    h5{font-size: 31px;}

    .paragraph-style{font-size: 16px;}

    .img-historia-dos
    {
        border-radius: 0px 38px 38px 0px;
        width: auto;
        height: 100%;
    }

    .box-present .present-section .title-present
    {
        font-size: 25px;
        margin-top: 10px;
    }
    .box-present{grid-template-columns: 1fr;}
    .present-section .link-present{font-size: 16px;}
    .quienes-box{grid-template-rows: 0.3fr 0.8fr 0fr;} 
}

/*media 768px*/
@media screen and (max-width: 768px)
{
    .quienes-box
    {
        grid-template-rows: repeat(4, auto) ;
        margin: 23px 10px;
        grid-template-areas: 
        "textUno textUno"
        "imgDos imgDos"
        "textDos textDos"
        "imgUno imgUno";
        gap: 14px;
    }
    
    .figure-nav{width: 300px; height: 100%;}
    .box-historia{margin: 28px 10px; grid-template-rows:auto 67vw auto;}
    .titulo-estilo-sec{font-size: 31px;}
    .subtitulo-estilo-sec{font-size: 20px;}
    .paragraph-style{font-size: 14px;}

    .quienes-foto-d{width: 100%; height: auto;}
    .quienes-foto-i{width: 100%; height: auto;}
}
/*media 600px*/
@media screen and (max-width: 600px)
{
/*------------------------------------------------------*/
/* Tamaños h*/
h1{font-size: 30px;}
h2{font-size: 30px;}
h3{font-size: var(--text-m);}
h4{font-size: var(--text-m);}
h5{font-size: var(--text-m) ;}

.paragraph-style{font-size: 14px;}

h3.cabecera-informacion{font-size: 23px ;}
h4.subcabecera-informacion{font-size: 23px}
}

/*------------------------------------------------------*/
/*media 575.98px*/
@media screen and (max-width: 575.98px) 
{
    .figure-nav{width: 225px; height: 100%;}
    .box-present .present-section .img-presentacion{height: 190px;}
}


/*------------------------------------------------------*/
/*media 480px*/
@media screen and (max-width: 480px){
.ped-form
{
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    gap: 5px;
}
.marg-mod{margin-bottom: 18px;}
.ubicacion{width: 240px ; overflow: hidden;}
.tabla-img{width: 320px; height: auto;}
.boton-procesar {
    width: 153px;
    height: 29px;
    bottom: 38px;
    left: 152px;
}

.vender{width: 280.75px;}
.botones-vender{width: 276.75px; bottom:97.5px;}
.box-article-photo{height: 323px;}
.vender-precio {
    width: 89px;
    height: 35px;
    padding-top: 2px;
    bottom: 320px;
    left: 192px;
}
.vender-imagen
{
    height: 100%;
    width: auto;
}

.venta-texto{font-size: 16px;}
}
/*------------------------------------------------------*/
/*media 360px*/
@media screen and (max-width: 360px) {
        .figure-nav{width: 180px; height: 100%;}}
