/*------------------------------------------------------*/
/* Estilos comunes */

.enlaces-estilo
{
    font-size: $text-s;
    color: $blanco;
    padding: 5px 10px;
    transition:background-image .2s;
    transition:background-color .2s;
    transition:font-size .2s;

    &:hover
    {
    font-size: 22px;
    background-image:url(../visuales/galletaSinComer.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: $marron;
    margin: 0px 5px;
    border-radius: 10px;
    color:#FFFFFF;  
    }

    &:active
    {
    background-image:url(../visuales/galletaComida.webp);
    color:#FFFFFF;
    }

}

.barra-intermedia
{

    font-size: $text-s;
    color: $blanco;
    padding: 5px 0px;
    
}

.estilos-titulos
{
    font-family: 'Cinzel';
    width: 100%;
    text-align: center;
    color:white;
    letter-spacing: 0.1em;
    margin-top: 28px;
}

.parallax
{
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
}

.titulo-estilo-sec
{
    @extend .estilos-titulos;
    font-size: $text-xxl;
    color: $marron;
}

.subtitulo-estilo-sec
{
    @extend .estilos-titulos;
    font-size: 25px;
    color: $marron;
}

.boton-estilo
{
    display: inline-block;
    text-align: center;
    font-family: 'Fauna One', serif;
    font-size: 17px;
    color: black;
    border:none;
    border-radius:12px ;
    background-color: #A3D9FF;
    padding: 3px 8px;
    transition: transform .04s ease-out;
    transition: background-color .04s ease-out;

    &:active
    {
    transform: scale(0.95);
    background-color: #73c5ff;
    }

}

.boton-redondo
{
    width: 37px;
    height: 37px;
    border-radius: 50%;
}

.paragraph-style{text-align: justify;}