    $primary: #384073;
    $secondary: #F5E78E;
    $celeste: #A3D9FF;
    $marron: #826754;
    $blanco: #FFFFFF;
    
    $text-xxl: 55px;
    $text-xl: 48px;
    $text-l: 40px;
    $text-m: 20px;
    $text-s: 18px;

    $sp-xl: 120px;
    $sp-l: 80px;
    $sp-m: 50px;
    $sp-s: 28px; 
