//------------------------------------------------------//
//Footer estilos//

footer
{
    @include flex(column, flex-start, center, 0);
    background-color: #384073;
    color: $blanco;
    height: auto;
    padding: 33px 0px;
    font-family: 'Cinzel';

    .copyfooter
    {
        font-size: 18px;
        text-align: center;
    }

}

.footer
{
    @include flex(row, center, center, 30px);
    width: 100%;
    padding: 0px 10px;
    margin-bottom: 30px;

    .footer-info
    {
        border: solid;
        border-color: #282D53;
        border-radius: 10px;
        border-width: 4px;
        padding: 7px;
    }

    .footer-ubicacion
    {
        border-radius:10px;
        width: 600px;
        height: 220px;
        padding: 4px;
        background-color: #282D53;
    }
    .info-titulos
    {
        font-size: 30px; 
        text-decoration: underline $marron;
    }
    .info-datos{font-size: 20px; text-indent: 15px;}
}