header
{
    .img-nav{width: 100%;}
    .navbar 
    {
    display: flex;
    justify-content: space-between;
    height: auto;
    padding: 14px 28px;
    align-items: center;

        .menu
        {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 10px;
            
            .navbar .menu .menu-item
            {
                display: inline-block;
            }
        }
    }
}

