
//------------------------------------------------------//
//media 1610px//

@media screen and (max-width: 1610px)
{
.contenedor-quienes
{
    .quienes-box
    {
        & :nth-child(3)
        {
            .quienes-foto-d
            {
                @include behaviourPhoto(auto, 100%, true)
            }
        }
    }
}
}

//------------------------------------------------------//
//media 1310px//

@media screen and (max-width: 1310px)
{
    .contenedor-quienes
    {
        .quienes-box
        {
            grid-template-rows: 0.3fr 0.5fr auto;


            & :nth-child(3)
            {
                .quienes-foto-d
                {
                    @include behaviourPhoto(100%, auto, true)
                }
            }
        }
    
        
    }
    .box-contactar
    {
        .formulario-box
        {
            .formulario
            {
                max-width: 90vw;
            }
        }
    }
        
    
}
//------------------------------------------------------//
//media 1200px//

@media screen and (max-width: 1200px) 
{
   //------------------------------------------------------//
   //Media de seccion historia//
   .box-historia
   {
       grid-template-rows: auto 500px auto;
       grid-template-areas: 
       "texto texto"
       "fotoBandeja fotoGalleta"
       "textoDos textoDos";

       & :nth-child(2)
       {
        border-radius: 38px 0px 0px 38px;
    
       }

       & :nth-child(3)
       {
            .img-historia-dos
            {
                border-radius: 0px 38px 38px 0px;
                @include behaviourPhoto(100%, auto, true)
            }
       }
   }

.contenedor-quienes
{
    .quienes-box
    {
        
        & :nth-child(3)
        {
            .quienes-foto-d
            {
                @include behaviourPhoto(auto, 100%, true)
            }
        }
    }
}

}