/*------------------------------------------------------*/
/*media 575.98px*/
@media screen and (max-width: 575.98px) 
{
    .figure-nav
    {
        @include behaviourPhoto(225px, 100%);
    }

    .box-present
    {
        .present-section
        {
            .img-presentacion
            {
                height: 190px;
            }
        }
    }
      
}


/*------------------------------------------------------*/
/*media 480px*/
@media screen and (max-width: 480px)
{

    .box-contactar
    {
        .formulario-box
        {
            .formulario
            {
                .ped-form
                {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    max-width: 90vw;
                    
                }

                .marg-mod
                {
                    margin-bottom: 18px;
                }
            }
        }
    }
    .vender-box
    {
        .formulario-vender
        {
            .vender
            {
                width: 280.75px;
                .box-article-photo
                {
                    height: 323px;

                    .vender-imagen
                    {
                        @include behaviourPhoto(auto, 100%)
                    }

                    .vender-precio 
                    {
                        width: 89px;
                        height: 35px;
                        padding-top: 2px;
                        @include position(auto, auto, 320px, 192px);
                    }
                }

                .venta-texto
                {
                    font-size: 16px;
                }

                .botones-vender
                {
                    width: 276.75px; bottom:97.5px;
                }
            }

            .tabla-venta
            {
                .tabla-img
                {
                    @include behaviourPhoto(320px, auto);
                }
        
                .boton-procesar 
                {
                    width: 153px;
                    height: 29px;
                    @include position(auto, auto, 38px, 152px);
                    
                }
            }
        }
    }

}
/*------------------------------------------------------*/
/*media 360px*/
@media screen and (max-width: 360px) 
{
    .figure-nav
    {
        @include behaviourPhoto(180px, 100%);
    }


    .vender-box
    {
        .formulario-vender
        {
            .vender
            {
                margin-left:0px;
                margin-right: 0px;
            }
            .tabla-venta
            {
                .tabla-img
                {
                    @include behaviourPhoto(296px, auto);
                }

                .boton-procesar 
                {
                    @include position(auto, auto, 36px, 132px);
                    
                }
            }

        }
    }
}