/*------------------------------------------------------*/
/*Articulos de receta*/
.recetas-box
{
    display: flex;
    flex-direction: column;
    align-items: center;

    .receta-foto
    {
        max-height: 395px; min-width: 290px;
            img
            {
                border-radius: 20px;
            }
    }

    .receta-nombre
    {
        font-size: 25px;
    }
}