/*------------------------------------------------------*/
/*Articulos de receta*/
.recetas-box
{
    @include flex(column, flex-start, center, 0);

    .receta-foto
    {
        max-height: 395px; 
        min-width: 290px;
            img
            {
                border-radius: 20px;
            }
    }

    .receta-nombre
    {
        font-size: 25px;
    }
}